#reversed-hand {
  display: block;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  float: left;
}

/*#character-nav {
  font-size: 50px;
}*/
